<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.mds.persona.refresh</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/Born/mds-scorecard-tools/persona_refresh.py</string>
  </array>
  <key>WorkingDirectory</key><string>/Users/Born/mds-scorecard-tools</string>
  <key>EnvironmentVariables</key>
  <dict><key>PERSONA_SLACK</key><string>1</string></dict>
  <key>StartCalendarInterval</key>
  <dict><key>Hour</key><integer>4</integer><key>Minute</key><integer>15</integer></dict>
  <key>StandardOutPath</key><string>/Users/Born/mds-scorecard-tools/persona_refresh.log</string>
  <key>StandardErrorPath</key><string>/Users/Born/mds-scorecard-tools/persona_refresh.log</string>
</dict>
</plist>
